@import "vars";
@import "fonts";
@import "global";
@import "header";
@import "footer";

$color_yellow: #ffc222;
$roboto: 'Roboto', sans-serif;
$color_black: #212020;
$color_white: #fff;
$color_layout: #303030;
$playfair: 'Playfair Display', serif;
$blue: #00e0d0;
$hammersmith: 'Hammersmith One', sans-serif;


.header {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header-wrapper {
  align-items: center;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    font-family: $roboto;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      color: $blue;
    }
  }

}

.main-slider {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding-bottom: 70px;
}

.slider-box {
  margin-top: 169px;
  max-width: 770px;
  text-align: center;
}

.slider-title {
  font-size: 32px;
  font-family: $playfair;
  color: #ffffff;
  position: relative;

  &:after {
    content: "";
    height: 1px;
    width: 50px;
    background-color: $blue;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
  }
}

.slick-dots {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 125px;

  button {
    background-color: transparent;
    border-radius: 50%;
    color: transparent;
    margin-left: 5px;
    width: 10px;
    height: 15px;
    text-decoration: none;
    outline: none;

    &:hover {
      background-color: $blue;
      border-color: $blue;
    }
  }

}

.slider-description {
  padding-top: 25px;
  font-family: $roboto;
  font-weight: lighter;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.our-story {
  padding: 70px 0;
}

.our-story-img {
  text-align: center;
}

.button-learn {
  margin-top: 50px;
  background-color: transparent;
  border: 1px solid $blue;
  color: $blue;
  font-family: $hammersmith;
  text-transform: uppercase;
  font-size: 16px;
  padding: 15px 20px;
  text-decoration: none;
  outline: none;
}

.big-logo {
}

.story-title {
  font-family: $playfair;
  color: #000000;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.story-descr-first,
.story-descr-second {
  font-family: $roboto;
  font-weight: lighter;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  margin-top: 25px;
}

.video {
  background-image: url(../img/video-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 205px 0;
  text-align: center;

  span {
    display: block;
    margin-top: 30px;
  }
}

.video-story {
  max-width: 170px;
  background-color: transparent;
  border: none;
}

.watch {
  padding-top: 30px;
  color: #fff;
  text-transform: uppercase;
  font-family: $roboto;
  font-size: 16px;
}

.expertise {
  padding-bottom: 100px;
}

.expertise-title {
  font-family: $playfair;
  font-size: 22px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
  padding-top: 50px;


  //#c6c4c9;
}

.expertise-descr {
  font-size: 14px;
  color: #78777b;
  padding: 10px 0 90px 0;
  font-family: $playfair;
  text-align: center;

  &:after {
    content: "";
    height: 1px;
    width: 50px;
    background-color: #000000;
    position: absolute;
    //top: calc(100% + 60px);
    left: 50%;
    transform: translateX(-50%);
  }
}

.block-title {
  padding-top: 25px;
  font-family: $roboto;
  font-size: 14px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.block-descr {
  font-family: $roboto;
  font-size: 14px;
  font-weight: lighter;
  line-height: 22px;
  color: #7a7a7a;
  text-align: center;
  padding: 25px 65px 35px 65px;
}

.box-expertise {
  img {
    padding-top: 25px;
    margin: 0 auto;
    display: block;
  }
}

.team {
  background-image: url(../img/hiring-bg.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding: 70px 0;
}

.team-title {
  font-family: $playfair;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 15px;
}

.team-descr {
  font-family: $playfair;
  font-weight: 500;
  margin-bottom: 70px;
  font-size: 14px;
  letter-spacing: 3px;
  &:after {
    content: "";
    height: 1px;
    width: 50px;
    background-color: #655c80;
    position: absolute;
    //top: calc(100% + 60px);
    left: 50%;
    transform: translateX(-50%);
  }
}

.team-box {
  padding: 0 25px;

}

.team-members {
  padding: 0 15px;
  img {
    margin-bottom: 0;
  }
}

.member {
  border: 1px solid #79758d;
  padding: 25px 24px;
  margin-top: -7px;
}

.name-member {
  font-family: $roboto;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
}

.name-position {
  font-family: $roboto;
  font-weight: lighter;
  font-size: 13px;
  text-transform: uppercase;
  color: #c1c1c8;
  margin-bottom: 25px;
}

.mot-letter {
  p {
    font-family: $roboto;
    font-weight: lighter;
    font-size: 14px;
    color: #f3f3f3;
  }
}

.about-people {
  margin-bottom: 70px;
}

.portfolio {
  margin: 70px 0;
}

.title-portfolio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 70px;
  .name-port {
    text-transform: uppercase;
    color: #000000;
    font-family: $playfair;
    font-weight: bold;
    font-size: 22px;
  }
  a {
    font-family: $roboto;
    font-weight: lighter;
    font-size: 14px;
    color: #413d4b;
  }
}

.portfolio-photo {
  margin-bottom: 70px;
  a {
    margin: -7px -3px;
  }
  img {
    width: 267px;
    height: 200px;

  }
}

.portfolio-button {
  text-align: center;
  margin: 0 auto;
  display: block;
}

.write-to {
  margin-top: 70px;
  padding-bottom: 70px;
}

.form-to-write-title,
.clients-title {
  font-family: $playfair;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
  color: #000000;
  margin-bottom: 30px;
}

.input-form {
  height: 45px;
  width: 460px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  font-family: $roboto;
  font-weight: lighter;
  font-size: 14px;
  padding: 15px 20px;
  color: rgba(176, 175, 179, 0.5);
}

.input-comm {
  height: 200px;
  width: 460px;
  border: 1px solid #e5e5e5;
  font-family: $roboto;
  font-weight: lighter;
  font-size: 14px;
  padding: 20px 20px 0 20px;
  color: rgba(176, 175, 179, 0.5);
}

.write-button {
  display: block;
  margin-top: 20px;
  height: 45px;
  width: 120px;
}

.clients1 {
  img {
    margin-bottom: 50px;
  }
}

.footer {
  background-image: url(../img/footer.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding: 70px 0;
}

.logo-footer {
  display: block;
  padding-left: 0;
  margin-bottom: 20px;
}



.footer-studio-address,
.footer-studio-phone,
.footer-descr {
  font-family: $roboto;
  font-weight: lighter;
  font-size: 14px;
  color: #ffffff;
  padding-right: 70px;
  text-align: left;
  margin-bottom: 70px;
}

.footer-studio-address {
  padding-right: 110px;
  margin-bottom: 20px;
}

.help {
  font-family: $roboto;
  font-weight: 500;

  text-align: left;
  a {
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    margin-right: 25px;
  }
}

.footer-studio-title,
.footer-title {
  font-family: $roboto;
  font-weight: bold;
  color: #ffffff;
  font-size: 15px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 38px;
}

.footer-text {
  height: 45px;
  width: 210px;
  background-color: transparent;
  padding: 15px;
  display: block;
  font-family: $roboto;
  font-weight: lighter;
  border: 1px solid #9e98b0;
  font-size: 14px;
  color: rgba(217, 216, 222, 0.75);
}

.footer-img {
  background-color: #a099b3;
  height: 45px;
  width: 70px;
  img {
    height: 25px;
    width: 25px;
  }
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

//.common-img {
//  font-family: 'icomoon';
//  color: #ffffff;
//  font-size: 15px;
//
//}
//
//.img-facebook {
//  content: '\20';
//}

.links li:after {
  font-family: 'icomoon';
  color: #ffffff;
  font-size: 15px;
  content: '\20';
}

.copyright {
  font-family: $roboto;
  font-weight: 500;
  text-align: right;
  font-size: 14px;
  color: #ffffff;
}